<h1>All Vanpools:</h1>


<table class="table">
  <thead>
    <tr>
      <% if @current_user %>
        <th>Join Ride</th>
        <% if @current_user.approved %>
          <th>Volunteer to Drive</th>
        <% end %>
      <% end %>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <%= form_tag vanpools_join_path, :class => 'form' do %>
      <% @vanpools.each do |v| %>
        <tr>
          <% if @current_user %>
            <td>
              <%=check_box_tag "vanpools[#{v[:id]}]" %>
            </td>
            <% if @current_user.approved %>
              <td>
                <%=check_box_tag "vanpools_driver[#{v[:id]}]" %>
              </td>
            <% end %>
          <% end %>
          <td>
            <%= v.serializable_hash%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </br>
      <% if @current_user %>
        <%= submit_tag 'Join Vanpool', :class => 'btn btn-primary'%>
      <% end %>
    <% end %>
    </br>
<%= link_to "Go Back", pages_welcome_path %>
