<h1>Welcome Rider!</h1>
<% if @admin %>
  <p> Admin Functions</p>
  <%= form_tag adminfunctions_makeAdmin_path, :class => 'form' do %>
    <%= label :user, :user_id, 'Enter User-ID:', :class => 'col-form-label' %>
    <%= text_field :user, 'user_id', :class => 'form-control'%>
    <%= submit_tag 'Make Admin', :class => 'btn btn-primary'%>
  <% end %>

  <%= form_tag adminfunctions_deleteUser_path, :class => 'form' do %>
    <%= label :user, :user_id, 'Enter User-ID:', :class => 'col-form-label' %>
    <%= text_field :user, 'user_id', :class => 'form-control'%>
    <%= submit_tag 'Remove user', :class => 'btn btn-primary'%>
  <% end %>

<% else %>
  <p> User is not admin</p>
<% end %>

<%= button_to "Update Profile", profiles_index_path, method: :get %>