<!DOCTYPE html>
<html>
  <head>
    <title>VanpoolServiceSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  </header>
  <%= console %>
  <div>
    <% if !(@current_user) %>
      <%= button_to('Sign up/Login', login_path, method: :get, :id => 'signupLogin') %>
    <% elsif @current_user %>
      <%= button_to('Logout', logout_path, method: :delete, :id => 'logout') %>
      <p>You are logged in as <%="#{@current_user.user_id}"%></p>
    <% end %>
  </div>
  <br/>

  <section>
    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>
  <%= yield %>
  </section>
  </body>
</html>
